@model IEnumerable<FishingJournal.Models.EntryListItem>

@{
    ViewBag.Title = "Index";
}

<div style="margin-top:-100px">
    <h2>Fishing Journal</h2>

    <p>
        @Html.ActionLink("Add trip", "Create")
    </p>

    <audio autoplay loop>
        <source src="~/Content/NightFishingNoises.mp3" />
    </audio>

    <table class="table" style="text-align:center; font-size:large">
        <tr>
            <th style="text-align:center; border:none">
                @Html.DisplayNameFor(model => model.JournalDate)
            </th>
            <th style="text-align: center; border: none">
                @Html.DisplayNameFor(model => model.TotalFishCaught)
            </th>
            <th style="text-align: center; border: none">
                @Html.DisplayNameFor(model => model.Location)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="border:none">
                    @Html.DisplayFor(modelItem => item.JournalDate)
                </td>
                <td style="border:none">
                    @Html.DisplayFor(modelItem => item.TotalFishCaught)
                </td>
                <td style="border:none">
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td style="border:none">
                    @Html.ActionLink("Edit", "Edit", new { id = item.EntryId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EntryId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EntryId })
                </td>
            </tr>
        }

    </table>
    </div>
