@model FishingJournal.Models.FishDetail

@{
    ViewBag.Title = "Details";
}

<h2>Species</h2>

<div>
    <h4>Details</h4>
    
    <dl class="dl-horizontal" style="font-size:x-large">
        <dt>
            @Html.DisplayNameFor(model => model.FishId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FishId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Species)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Species)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageWeight)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FishId }) |
    @Html.ActionLink("Back to Species", "Index")
</p>
