@model IEnumerable<FishingJournal.Models.FishListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FishId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Species)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FishId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Species)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FishId }) |
            @Html.ActionLink("Details", "Details", new { id = item.FishId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.FishId })
        </td>
    </tr>
}

</table>
