@model IEnumerable<FishingJournal.Models.LuresOrBaitListItem>

@{
    ViewBag.Title = "Index";
}
<div style="margin-top:-100px">
<h2>Tackle Box</h2>

<p>
    @Html.ActionLink("Add lure or bait", "Create")
</p>
<table class="table" style="text-align:center; font-size:large">
    <tr>        
        <th style="text-align:center; border:none">
            @Html.DisplayNameFor(model => model.Artificial)
        </th>
        <th style="text-align: center; border: none">
            @Html.DisplayNameFor(model => model.LureName)
        </th>
        <th style="text-align: center; border: none">
            @Html.DisplayNameFor(model => model.Color)
        </th >
        <th style="text-align: center; border: none">
            @Html.DisplayNameFor(model => model.ArtificialType)
        </th>
        <th style="text-align: center; border: none">
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th style="text-align: center; border: none">
            @Html.DisplayNameFor(model => model.Depth)
        </th>        
    </tr>

@foreach (var item in Model) {
    <tr>        
        <td style="border:none">
            @Html.DisplayFor(modelItem => item.Artificial)
        </td>
        <td style="border:none">
            @Html.DisplayFor(modelItem => item.LureName)
        </td>
        <td style="border:none">
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td style="border:none">
            @Html.DisplayFor(modelItem => item.ArtificialType)
        </td>
        <td style="border:none">
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td style="border:none">
            @Html.DisplayFor(modelItem => item.Depth)
        </td>
        <td style="border:none">
            @Html.ActionLink("Edit", "Edit", new { id=item.LureId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LureId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LureId })
        </td>
    </tr>
}
</table>
    </div>
